.nav-bar{
    display: flex;
    /* height: 12vh; */
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.nav-bar li {
    list-style-type: none;
}

li{
    justify-content: space-evenly;
    margin: 20px;
}

ul img{
    width: 14%;
    padding-right: 100px;
}